.box {
  width: 150px;
  height: 110px;
  padding: 20px;
  padding-top: 60px;
}
.box1 {
  background-color: grey;
  border: 10px ridge purple;
  border-width: 10px;
}
.box2 {
  background-color: rgb(22, 188, 22);
  border: 20px inset black;
  padding: 50px 10px 10px 10px;
  margin-left: 210px;
}
.box3 {
  background-color: rgb(5, 235, 235);
  border: 15px ridge red;
  padding: 55px 15px 15px 15px;
  margin-left: 420px;
}
